.book-details {
  margin: 2px;
  padding: 1rem;
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-between;
  background-color: #ddd;
  border-radius: 0.5rem;
}

.book-details > p {
  width: calc(33% - 1rem);
  background-color: transparent;
}
.book-details > p > span {
  font-weight: bold;
  background-color: transparent;
}
